
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Caveat,cursive;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #c69c91;
    overflow-x: hidden;

}

#header{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 12, 0.53), rgba(123, 0, 0, 0.35)),
    url("./image/final.png");
    overflow: hidden;

}



.wrapper{
    top: 0;
    width: 90%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: rgba(205, 133, 63, 0.8);
    min-height: 50px;
    align-items: center;
    padding: 10px 30px;
    border-radius: 25px;
    align-content: center;
    margin: 5px 50px;
    transition: ease-out all 0.5s;


}

.wrapper:hover{
    box-shadow: 0 0 15px crimson;
    background-color: gray;

}

.nav-menu{
    display: flex;
    justify-content: space-between;
}
.social-links{
    display: inline-block;
    justify-content: center;
    align-items: center;
}
.menu-links li{
    display: inline-block;
}

.menu-links li a{
    text-decoration: none;
    font-size: 28px;
    margin-right: 20px;
    position: relative;

}

.menu-links li a::after{
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    background-color: #b71e6a;
    cursor: pointer;
    left: 0;
    transition: all ease-out 0.5s;
}

.menu-links li a:hover::after{
    width: 100%;
}

.social-links {
    font-size: 20px;
}
.fa-brands{
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
    background-color: #b61e6a;
    padding: 2px;
    transition: all ease-out 0.4s;
}
.fa-brands:hover{
    transform: scaleX(1.09);

}

/*********************end of navbar***********************/

#hero{

    padding-top: 140px;


}
.header-text{
    align-items: center;
    text-align: justify;
    margin: 0 6%;
    padding: 0 20px;
}

@keyframes fade-in {
    0%{
        opacity: 0;
        transform: translateX(80px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.title{
    margin-left: 400px;
}
.title p{
    font-family: permanent marker, cursive;
    font-size: 30px;
    margin-bottom: 50px;
    border-radius: 25px;
    padding: 4px 15px;
    animation: fade-in ease-in 0.8s;
}

.title span{
    font-family: moon dance, cursive;
    color: #b71e6a;
    border: 1px solid lightblue;
    padding: 0 20px;
    border-radius: 15px;
    background-color: #7b7377;
}
.title h3{
    margin: 0 5%;
    letter-spacing: 5px;
    font-size: 30px;
    color: rgba(0, 51, 253, 0.71);
    font-weight: 600;
    font-family: moon dance, cursive;
    animation: fade-in ease-in 1s 2s backwards;
}

/****************about me ****************/
#about{
    width: 100%;

}

.about-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-column-gap: 20px;
    background-color: #c59b90;
    padding: 10px 80px;


}

.about-title h1{
    text-align: center;
    font-size: 40px;

}

.about-left{
    width: 100%;
    height: 100%;
    border: 1px solid dodgerblue;
}
.about-left img{
    background: transparent;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.about-right{
    height: 100%;
    width: 100%;
    background-color: #c59b90;
    border: 1px solid dodgerblue;
}

.about-right p span{
    font-size: 25px;
}

.about-right-title h3{
    font-size: 30px;
    color: rgba(135, 0, 150, 0.63);

 }

.about-right ul{
    padding-left: 30px;
    list-style: circle;
    color: blue;



}
.about-right ul li{
    font-size: 20px;
    font-family: serif;
}

/************************products*********************************/

.products {
    width: 100%;
    padding: 5px 80px;

}
.products-contents{
    border: 1px solid;
    background-color: #7b7377;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-gap: 10px;
    padding: 5px;
}
.row img {
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: all ease-out 0.4s;

}

.row img:hover{
    transform: scaleY(1.03);
}
.product-title h1{
    text-align: center;
    font-size: 40px;
}

/*************************************footer**********************/

#footer{
    width: 100%;
    padding: 0 80px;
}

.media-icons{
    background-color: dodgerblue;
    padding: 30px 20px;
    align-items: center;
    justify-content: space-between;
    text-align: center;


}

.footer-icons .fa-brands{
    font-size: 25px;
    margin-right: 20px;
    padding: 6px;

}

.copy-right{
    margin-top: 20px;
}

.copy-right p{
    letter-spacing: 4px;
    font-size: 22px;
}

.copy-right .fa-regular{
    font-size: 22px;
    color: red;
    margin-left: 10px;
}
.copy-right .developer{
    color: hotpink;
    border: 1px solid peru;
    border-radius: 25px;
    padding: 4px;
}

/*********************Media screen*************************/

.fa-solid{
    display: none;
    cursor: pointer;
    font-size: 22px;
}

@media screen and (max-width: 550px) {
    #header{
        background-position: left;
        margin-left: 25px;
    }

    .wrapper{
        margin: 5px 0;
    }
    .nav-menu .menu-links{
        position: fixed;
        top: 0;
        right: -150px;
        width: 150px;
        height: fit-content;
        background: hotpink;
        z-index: 2;
        padding-top: 40px;
    }

    .nav-menu ul li{
        display: block;
        margin: 15px;


    }
    .menu-links li a{
        font-size: 20px;
        display: block;
    }

    .menu-links .fa-solid{
        position: absolute;
        top: 15px;
        left: 20px;
        font-size: 22px;
        cursor: pointer;
    }
    .menu-links li a:hover::after{
        width: 50%;
    }
    .social-links .fa-brands{
        font-size: 17px;
        border-radius: 50%;
        cursor: pointer;
        padding: 4px;
    }
    .fa-solid{
        display: block;
    }
    .header-text .title{
        display: none;
    }

    #about{
        margin:0 20px;
    }
    .about-title h1{
        font-size: 30px;
    }
    .product-title h1{
        font-size:30px;
    }

    .about-right p span{
        font-size: 19px;
    }

    .about-right-title h3{
        font-size: 25px;
        color: #b41eff;


    }
    .footer-icons .fa-brands{
        font-size: 17px;
        margin-right: 5px;
        padding: 3px;

    }
    .copy-right .fa-regular{
        font-size: 17px;
        color: red;
        margin-left: 10px;
    }
    .copy-right .developer{
        color: hotpink;
        border: 1px solid peru;
        border-radius: 13px;
        padding: 2px;
    }

    .copy-right p{
        letter-spacing: 1px;
        font-size: 17px;
    }
}
@media screen and (max-width: 650px) {
    .about-info{
        display: block;
    }
    .header-text .title{
        display: none;
    }
}